<div class="ui raised segment">
  <h3>インターン生の今後の出社予定</h3>
  <div class="ui relaxed divided list">
    <% @schedules_for_staff.each do |schedule| %>
      <%= link_to schedule, class:"item future"  do %>
        <i class="large checked calendar middle aligned icon"></i>
          <div class="content">
            <div class="header">
              <%= schedule.user.name%>
              <%= schedule.work_started_at.strftime('%m/%d(%a) %H:%M') %> ~ <%= schedule.work_ended_at.strftime('%H:%M') %>
            </div>
            <div class="description">
  		        <% if schedule.task_schedules != [] %>
                <% schedule.task_schedules.each do |task_schedule| %>
                  <%= task_schedule.task.title %>,
                <% end %>
              <% else %>
                予定されているタスクがありません:(
              <% end %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
