<div class="wrap-for-dev col-md-12">
  <h3>今後の出社予定</h3>
  <% @schedules_for_staff.reverse_each do |schedule| %>
    <%= link_to schedule do %>
      <div class="wrap-for-dev col-md-12">
        <div class="col-md-4">
        <h4><%= image_tag schedule.user.profile_photo_url%>
        <%= schedule.user.name%></h4>
        </div>
        <div class="col-md-4">
          <h4><%= schedule.work_started_at.strftime('%m/%d(%a) %H:%M') %> ~ <%= schedule.work_ended_at.strftime('%H:%M') %></h4>
        </div>
        <div class="col-md-4">
          <h4>
            <% if schedule.task_schedules != [] %>
              <% schedule.task_schedules.each do |task_schedule| %>
                <%= task_schedule.task.title %>,
              <% end %>
            <% else %>
              予定されているタスクがありません:(
            <% end %>
          </h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
