<div class="wrap-for-dev">
  <h3>新しいインターン生を招待</h3>
  ユーザ検索
  <%= form_tag root_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "検索", :name => nil %>
  <% end %>
  <% if params[:search] != nil %>
    <% @searched_users.each do |searched_user| %>
      <%= link_to searched_user do%>
        <div class="wrap-for-dev col-md-4">
          <div class="col-md-2">
            <%= image_tag searched_user.profile_photo_url%>
          </div>
          <div class="col-md-10">
            <div class="col-md-12">
              <h3><%= searched_user.name %></h3>
            </div>
            <div class="col-md-12">
              <%= searched_user.university %> <%= searched_user.department %> <%= searched_user.grade %>年
            </div>
          </div>
          <div class="col-md-12">
            <%= link_to '詳細', searched_user ,class: "btn btn-default"%>
            <%= link_to 'チームに招待', associate_intern_url(:user_id => searched_user.id, :user_name => searched_user.name, :company_id => current_user.company_users.first.company.id) ,class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= paginate @searched_users %>
  <% end %>
</div>
