<script type="text/javascript">
		$(document).ready(function(){
			$('.ui.dropdown').dropdown();
		});
</script>
<h3>日報</h3>
<% if current_user.employment_status == true %>
	<div class="left floated column">
		<%= link_to new_report_path, class: "ui labeled icon button" do%>
		<i class="plus icon"></i>日報を追加
		<% end %>
	</div>
<% end %>
<div class="ui relaxed divided list">
<% @reports.each do |report| %>
  <div class="item">
    <div class="right floated content">
      <%= link_to report, class:"ui button" do%>
      編集
      <%end%>
      <%= link_to report, method: :delete, data: { confirm: '本当に削除しますか？' }, class:"ui button" do%>
      削除
      <%end%>
    </div>
    <img class="ui avatar image middle aligned icon" src="https://semantic-ui.com/images/avatar2/small/rachel.png">
    <div class="content">
			<div class="header">
				<%= report.user.name %> <%= report.schedule.work_started_at.strftime('%m/%d') %>
			</div>
      <%= link_to report ,class: "description" do%>
      	「<%= report.title %>」
      <%end%>
    </div>
  </div>
<% end %>
</div>
