<script>
// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/


//ユニークなkey取得
const tallyTarget = target => {
	// ObjectからKeyを重複なく取得
	const keys = _.uniq(_.flatten(target.map(t => Object.keys(t))))
	// keyで抽出する(pluck)
	const result = {}
	keys.forEach(k => result[k] = _.compact(_.map(target, k)))
	return result
};
//時間の数字の０詰め
var toDoubleDigits = function(num) {
  num += "";
  if (num.length === 1) {
    num = "0" + num;
  }
 return num;
};

shoya =[
<% @schedules.each do |schedule| %>
    {
			title:'',
			username:'<div class="username"><%= schedule.user.name %></div>',
			schedule:'<div class="schedule"><%= schedule.work_started_at.strftime("%-H:%M") %> ~ <%= schedule.work_ended_at.strftime("%-H:%M") %></div>',
    	tasks:'<% schedule.tasks.each do |task| %><div class="task"><% task.labels.each do |label| %><div class="label" style="background-color:<%= label.color %>;"><%= label.name %></div><% end %><%= task.title %></div><% end %>',
			border:'<div class="left-gradient-border" style="background: linear-gradient(-45deg,<%=schedule.user.color_1%>,<%=schedule.user.color_2%>);"></div>',
    	start:'<%= schedule.work_started_at.time.strftime('%Y/%m/%d %H:%M:%S') %>',
    	end:'<%= schedule.work_ended_at.time.strftime('%Y/%m/%d %H:%M:%S') %>'
    },
  <% end %>
];

$(document).ready(function() {
	var nowdate = new Date();

	event_perse = tallyTarget(shoya);
	uniq_title = _.uniq(event_perse.title);

	for(var i=0;i<uniq_title.length;i++){
		sex = (uniq_title[i].charCodeAt(0)+uniq_title[i].charCodeAt(uniq_title[i].length-1))/8;
		var my_chance=new Chance(sex);
		var mycolor = my_chance.color({format: 'hex'});
		var $selector = $('<div class="item add-intern" id="'+uniq_title[i]+'" data-value="'+uniq_title[i]+'"><div class="ui green empty circular label" style="'+mycolor+'"></div>'+uniq_title[i]+'</div>');
		$("#intern-selector").append($selector);
	}

	//配列整形→色挿入
	for(var i=0;i<shoya.length;i++){
		sex = (shoya[i].title.charCodeAt(0)+shoya[i].title.charCodeAt(shoya[i].title.length-1))/8;
		var my_chance=new Chance(sex);
		shoya[i].color = my_chance.color({format: 'hex'});
		start = new Date(Date.parse(shoya[i].start));
		end = new Date(Date.parse(shoya[i].end));
		shoya[i].tooltip = '<div id="tooltip">'+shoya[i].title+'<br/>'+toDoubleDigits(start.getHours())+':'+toDoubleDigits(start.getMinutes())+'-'+toDoubleDigits(end.getHours())+':'+toDoubleDigits(end.getMinutes());
	}


	$('#calendar').fullCalendar({
		header: {
			left: 'prev,next today',
			center: 'title',
			right: 'agendaWeek,agendaDay,month'
		},
    height: 500,
		defaultView: 'agendaWeek',
		lang: "ja",
		slotEventOverlap: false,
		displayEventTime: false,
		allDaySlot: false,
		minTime: '07:00:00',
		maxTime: '21:00:00',
		defaultDate: nowdate.getFullYear()+'-'+(nowdate.getMonth() + 1)+'-'+nowdate.getDate(),
		navLinks: false, // can click day/week names to navigate views
		editable: false,
		eventLimit: true, // allow "more" link when too many events
		views: {
	        agenda: {
	            eventLimit: 2 // adjust to 6 only for agendaWeek/agendaDay
	        },
	        week: {
	            // options apply to basicWeek and agendaWeek views
	            eventLimit: 2
	        },
	    },
	    eventMouseover: function(calEvent, jsEvent) {
	        $('body').prepend(calEvent.tooltip);

	        xOffset = 10 + $('#tooltip').height();
	        yOffset = -10;

	        $('#tooltip')
	        .css('top', (jsEvent.clientY - xOffset) + 'px')
	        .css('left', (jsEvent.clientX + yOffset) + 'px')
	        .fadeIn();
	    },

	    eventMouseout: function(calEvent, jsEvent) {
	        $('#tooltip').remove();
	    },
			eventRender: function(events, element) {
			    $(element.context)  //imgプロパティが存在するイベントだけtitleを画像に差し替え
					.html('<div class="schedule-events">'+events.border+events.username+events.schedule+events.tasks+'</div>');
    	},
			events:shoya
	});
});

$(function() {
// チェックボックスをチェックしたら発動
	$('.add-intern').on('click', function() {
		var new_event = [];
		$(this).addClass("selected-intern");
		for(var i=0;i<uniq_title.length;i++){
			if($('#'+uniq_title[i]).hasClass('selected-intern')){
				for(var j=0;j<shoya.length;j++){
					if(uniq_title[i]===shoya[j].title){
						new_event.push(shoya[j]);
					}
				}
			}
		}
		$('#calendar').fullCalendar( 'removeEvents' );
		$('#calendar').fullCalendar( 'renderEvents', new_event,'stick' );
  });
});

</script>
  <h3>スケジュール
		<% if current_user.employment_status == true %>
			<%= link_to new_schedule_path, class: "ui right floated button interne-icon-btn" do%>
				<i class="plus icon"></i>
			<% end %>
		<% end %>
		<div class="ui multiple dropdown">
		  <input type="hidden" name="filters">
		  <i class="filter icon"></i>
		  <span class="text">インターン生を選択</span>
		  <div class="menu">
		    <div class="ui icon search input">
		      <i class="search icon"></i>
		      <input type="text" placeholder="インターン生を検索...">
		    </div>
		    <div class="scrolling menu" id="intern-selector">
		    </div>
		  </div>
		</div>
	</h3>
	<div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">
        <div id='calendar'></div>
      </div>
    </div>
  </div>
