<div class="ui raised segment" style="z-index:-5;">
<h3>ステータス</h3>
<% if @user.attendances != [] %>
    <% if @user.attendances.last.work_stopped_at.nil? %>
      <% if @user.attendances.last.break_started_at.nil? == @user.attendances.last.break_stopped_at.nil? %>
        <% #出勤中の場合 %>
        <div class="ui grid padded middle aligned">
		  <div class="eight	 wide column center aligned">
			  <div class="ui piled red segment">
			  <h1>出勤中</h1></div>
		  </div>
		  <div class="eight wide column right floated">
		  	<div class="ui middle aligned divided list">
			  <div class="item">
			    <i class="large history middle aligned icon"></i>
			    <div class="content">
			      <div class="header">本日の出勤時間　：　<%= @today_work_schedule %></div>
			    </div>   
			  </div>
			  <div class="item">
			    <i class="large hourglass half middle aligned icon"></i>
			    <div class="content">
			      <div class="header">本日の勤務時間　：　<%= (Time.parse("1/1") + @attendance_time).strftime("%-H時間%-M分%-S秒") %></div>
			    </div>   
			  </div>
			  <div class="item">
			    <i class="large moon middle aligned icon"></i>
			    <div class="content">
			      <div class="header">休憩時間　　　　：　<%= (Time.parse("1/1") + @break_time).strftime("%-H時間%-M分%-S秒") %></div>
			    </div>
			  </div>
			  <div class="item">
			    <i class="large checkmark box middle aligned icon"></i>
			    <div class="content">
			      <div class="header">今日のタスク　　：　<%= @user.tasks.last.title %></div>
			    </div>
			  </div>
			</div>
		  </div>
		</div>
        <% else %>
        <div class="col-md-3">
          <% #休憩中の場合 %>
          <h1>休憩中</h1>
        </div>
        <div class="col-md-9">
          <h3>
            本日の出勤時間：<%= @today_work_schedule %><br>
            勤務時間：<%= (Time.parse("1/1") + @attendance_time).strftime("%-H時間%-M分%-S秒") %><br>
            休憩時間：<%= (Time.parse("1/1") + @break_time).strftime("%-H時間%-M分%-S秒") %><br>
            今日のタスク：<%= @user.tasks.last.title %><br>
          </h3>
        </div>
      <% end %>
    <% else %>
    <% #退勤中の場合 %>
    <div class="col-md-3">
      <h1>退勤中</h1>
    </div>
    <div class="col-md-9">
      <h3>
          お疲れ様でした！！<br>
          次回の出勤予定は、<%= @next_work_schedule %>で、<br>
          タスクは"<%= @user.tasks.last.title %>"です。<br>
          前回勤務時間：<%= (Time.parse("1/1") + @last_attendance_time).strftime("%-H時間%-M分%-S秒") %><br>
      </h3>
    </div>
    <% end %>
  <% else %>
  <% #初回出社前の場合 %>
    <div class="col-md-3">
      <h1>退勤中</h1>
    </div>
    <div class="col-md-9">
      <h3>
        次回の出勤予定は、<%= @next_work_schedule %>で、<br>
        タスクは"<%= @user.tasks.last.title %>"です。<br>
      </h3>
    </div>
  <% end %>
</div>