<script src="https://webkaru.net/jquery-plugin/sources/timeto/jquery.timeTo.js"></script>
<link href="https://webkaru.net/jquery-plugin/sources/timeto/timeTo.css" type="text/css" rel="stylesheet"/>

<h3>今後のタスク</h3>
<% if @future_schedules != [] %>
  <div class="ui relaxed divided list task-status" id="tasks-for-intern">
    <% @future_schedules.each do |future_schedule| %>
      <% future_schedule.tasks.each do |task| %>
        <% if task.users.include?(current_user) %>
          <%= link_to task do%>
            <div class="item" style="border-left: 4px solid <%= task.labels == [] ? '#ffffff' : task.labels.last.color%>;">
              <div class="title">
              	<%= task.title %>
            	  <% task.labels.each do |label| %>
                  <span class="labelname" style="background-color:<%=label.color%>;">
                    <%= label.name %>
                  </span>
                <% end %>
              </div>
              <div class="description">
                  <%=task.detail.slice(0, 30)%><%= '...' if task.detail.length > 30%>
                <span>
                  <%= future_schedule.work_started_at.strftime("%m月%d日") %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% @user_tasks_not_desided_day.each do |task| %>
        <% if task.users.include?(current_user) %>
          <%= link_to task do%>
            <div class="item" style="border-left: 4px solid <%= task.labels == [] ? '#ffffff' : task.labels.last.color%>;">
              <div class="title">
              	<%= task.title %>
            	  <% task.labels.each do |label| %>
                  <span class="labelname" style="background-color:<%=label.color%>;">
                    <%= label.name %>
                  </span>
                <% end %>
              </div>
              <div class="description">
                  <%=task.detail.slice(0, 30)%><%= '...' if task.detail.length > 30%>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="ui grid padded stackable middle aligned" id="schedule-status-for-intern">
    <div class="sixteen wide column center aligned">
    <%= "タスクが登録されていません。" %>
    </div>
</div>
<% end %>
