<script type="text/javascript">
		$(document).ready(function(){
			$('.ui.dropdown').dropdown();
		});
</script>
<h3>タスク</h3>
<%= link_to new_task_path, class: "ui labeled icon button" do%>
	<i class="plus icon"></i>タスクを追加
<% end %>
<%= link_to labels_path, class: "ui button" do%>
	ラベル管理
<% end %>
<% if @schedules != [] %>
  <div class="ui relaxed divided list task-status" id="tasks-for-all">
    <% @schedules.each do |schedule| %>
      <% schedule.tasks.each do |task| %>
        <% if task.users.include?(current_user) %>
          <%= link_to task do%>
            <div class="item" style="border-left: 4px solid <%=task.labels.last.color%>;">
	             <%= image_tag task.users.first.profile_photo_url, class:"ui circular image user-image", style:"width:30px; height:30px;"%>
            	<div class="content">
		            <div class="title">
	              	<%= task.title %>
									<% task.labels.each do |label| %>
	                  <span class="labelname" style="background-color:<%=label.color%>;">
	                    <%= label.name %>
	                  </span>
	                <% end %>
									<% task.users.each do |user| %>
										<span class="username">
											<%= user.name %>,
										</span>
									<% end %>
	              </div>
	              <div class="description">
	                  <%=task.detail.slice(0, 40)%><%= '...' if task.detail.length > 40%>
	                <span>
	                  <%= schedule.work_started_at.strftime("%m月%d日") %>
	                </span>
	              </div>
	            </div>
						</div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="ui grid padded stackable middle aligned" id="schedule-status-for-intern">
    <div class="sixteen wide column center aligned">
    <%= "タスクが登録されていません。" %>
    </div>
</div>
<% end %>
