<script type="text/javascript">
		$(document).ready(function(){
			$('.ui.dropdown').dropdown();
		});
</script>
<h3>
	タスク
	<%= link_to new_task_path, class: "ui right floated button interne-icon-btn" do%>
		<i class="plus icon"></i>
	<% end %>
</h3>
<% if @schedules != [] %>
  <div class="ui relaxed divided list task-status" id="tasks-for-all">
    <% @schedules.each do |schedule| %>
      <% schedule.tasks.each do |task| %>
        <% if task.users.include?(current_user) %>
          <%= link_to task do%>
            <div class="item">
							<% color = user_color_list(user_id:task.users.first.id,company_id:current_company.id) %>
              <div class="left-gradient-border" style="background: linear-gradient(-45deg,<%= color.grad_1 %>,<%= color.grad_2 %>);"></div>
						  <div class="circle-image-border" style="width: 40px; height: 40px; left: 1rem; margin-top: -20px;  background: linear-gradient(-45deg,<%= color.grad_1 %>,<%= color.grad_2 %>);">
								<span><%= image_tag task.users.first.profile_photo_url, class:"company-icon-img"%></span>
							</div>
	          	<div class="content">
		            <div class="title">
	              	<%= task.title %>
									<% task.labels.each do |label| %>
	                  <span class="labelname" style="background-color:<%=label.color%>;">
	                    <%= label.name %>
	                  </span>
	                <% end %>
									<% task.users.each do |user| %>
										<span class="username">
											<%= user.name %>,
										</span>
									<% end %>
	              </div>
	              <div class="description">
	                  <%=task.detail.slice(0, 40)%><%= '...' if task.detail.length > 40%>
	                <span>
	                  <%= schedule.work_started_at.strftime("%m月%d日") %>
	                </span>
	              </div>
	            </div>
						</div>
          <% end %>
        <% end %>
      <% end %>
		<% end %>
	  <% @tasks_not_desided_day.each do |task| %>
      <% if task.users.include?(current_user) %>
        <%= link_to task do%>
          <div class="item" style="border-left: 4px solid <%= task.labels == [] ? '#ffffff' : task.labels.last.color%>;">
						<div class="circle-image-border" style="width: 40px; height: 40px; left: 1rem; margin-top: -20px;  ">
							<span><%= image_tag task.users.first.profile_photo_url, class:"company-icon-img"%></span>
						</div>
          	<div class="content">
	            <div class="title">
              	<%= task.title %>
								<% task.labels.each do |label| %>
                  <span class="labelname" style="background-color:<%=label.color%>;">
                    <%= label.name %>
                  </span>
                <% end %>
								<% task.users.each do |user| %>
									<span class="username">
										<%= user.name %>,
									</span>
								<% end %>
              </div>
              <div class="description">
                  <%=task.detail.slice(0, 40)%><%= '...' if task.detail.length > 40%>
              </div>
            </div>
					</div>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% else %>
  <div class="ui grid padded stackable middle aligned" id="schedule-status-for-intern">
    <div class="sixteen wide column center aligned">
    <%= "タスクが登録されていません。" %>
    </div>
</div>
<% end %>
