<% if current_user.employment_status == false %>
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui raised segment">
        <%= render 'schedules' %>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui raised segment">
        <%= render 'tasks' %>
      </div>
    </div>
    <div class="eight wide column">
      <div class="ui raised segment">
        <%= render 'reports' %>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="ui raised segment">
        <%= render 'users' %>
      </div>
    </div>
  </div>
<% else %>
  <% if current_company != nil %>
    <div class="ui grid">
      <div class="five wide column">
        <div class="ui raised segment">
          <%= render 'attendance_status_for_intern' %>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui raised segment">
          <%= render 'schedule_status_for_intern' %>
        </div>
      </div>
      <div class="five wide column">
        <div class="ui raised segment">
          <%= render 'task_status_for_intern' %>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui raised segment">
          <%= render 'schedules' %>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui raised segment">
          <%= render 'tasks' %>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui raised segment">
          <%= render 'reports' %>
        </div>
      </div>
      <div class="sixteen wide column">
        <div class="ui raised segment">
          <%= render 'users' %>
        </div>
      </div>
    </div>
  <% else %>
    <%= render 'no_company' %>
  <% end %>
<% end %>
