<h2>新規登録</h2>

<div class="ui top attached tabular menu">
  <a class="active item" data-tab="first">インターン</a>
  <a class="item" data-tab="second">社員</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.hidden_field :employment_status, value: 0 %>
    </div>
    <div class="field">
      <%= f.label "名前" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label "性別" %><br />
      <%= f.select :gender, [["男性", 0], ["女性", 1]]%>
    </div>
    <div class="field">
      <%= f.label "生年月日" %><br />
      <%= f.date_select :birthday, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label "大学" %><br />
      <%= f.text_field :university, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label "学部・学科" %><br />
      <%= f.text_field :department, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label "学年" %><br />
      <%= f.number_field :grade, autofocus: true %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
</div>

<div class="ui bottom attached tab segment" data-tab="second">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.hidden_field :employment_status, value: 1 %>
    </div>
    <div class="field">
      <%= f.fields_for :company_users do |company_user| %>
        <%= company_user.label "会社名" %><br />
        <%= company_user.text_field :company_name %>
      <% end %>
    </div>
    <div class="field">
      <%= f.fields_for :company_users do |company_user| %>
        <%= company_user.label "会社HPアドレス" %><br />
        <%= company_user.text_field :hp %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label "担当者名" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label "担当者メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>

<script>
$('.menu .item')
  .tab()
;
</script>
