<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :company_id, value: current_company.id %>
  </div>

  <div class="field">
    <%= form.label 'インターン生を選択' %>
    <% user_options = current_company.users.order(:id).map { |user| [user.name, user.id, data: { schedule_path: user_selected_user_schedules_path(user.id) }] } %>
    <%= form.select :user_id, user_options, { include_blank: true }, class: 'select-user' %>
  </div>

  <div class="field">
    <%= form.fields_for :task_schedules do |task_schedule| %>
      <%= task_schedule.label '日程を選択' %>
      <% if schedules = @task.user.try(:schedules) || [] %>
        <% schedule_options = schedules.map { |schedule| [schedule.work_started_at, schedule.id] } %>
        <%= task_schedule.select :schedule_id, schedule_options, { include_blank: true }, class: 'select-schedule' %>
      <% end %>
    <% end %>
  </div>


  <div class="field">
    <%= form.label 'タスクのタイトル' %>
    <%= form.text_field :title, id: :task_title %>
  </div>

  <div class="field">
    <%= form.label 'タスクの詳細' %>
    <%= form.text_area :detail, id: :task_detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
