<p id="notice"><%= notice %></p>

<div class="col-md-12 text-right">
  <%= link_to '＋タスクを追加', new_task_path, class: "btn btn-primary" %>
</div>
<div class="wrap-for-dev col-md-12">
  <h3>誰にも割り当てられていないタスク</h3>
  <% @tasks_not_ready.reverse_each do |task| %>
    <div class="wrap-for-dev col-md-12">
      <div class="col-md-3">
        <h4><%= task.title %></h4>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <% task.task_schedules.each do |task_schedule| %>
          <%= task_schedule.schedule.work_started_at.strftime('%m/%d(%a)') %>,
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to '詳細', task ,class: "btn btn-default"%>
        <% if task.user_id == current_user.id %>
          <%= link_to '編集', edit_task_path(task) ,class: "btn btn-default" %>
          <%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="wrap-for-dev col-md-12">
  <h3>割り当てられているタスク</h3>
  <% @tasks_ready.reverse_each do |task| %>
    <div class="wrap-for-dev col-md-12">
      <div class="col-md-3">
        <h4><%= task.title %></h4>
      </div>
      <div class="col-md-3">
        <%= image_tag task.user.profile_photo_url%>
        <%= task.user.name %>
      </div>
      <div class="col-md-3">
        <% task.task_schedules.each do |task_schedule| %>
          <%= task_schedule.schedule.work_started_at.strftime('%m/%d(%a)') %>,
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to '詳細', task ,class: "btn btn-default"%>
        <% if task.user_id == current_user.id %>
          <%= link_to '編集', edit_task_path(task) ,class: "btn btn-default" %>
          <%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="wrap-for-dev col-md-12">
  <h3>実行中のタスク</h3>
  <% @tasks_doing.reverse_each do |task| %>
    <div class="wrap-for-dev col-md-12">
      <div class="col-md-3">
        <h4><%= task.title %></h4>
      </div>
      <div class="col-md-3">
        <%= image_tag task.user.profile_photo_url%>
        <%= task.user.name %>
      </div>
      <div class="col-md-3">
        <% task.task_schedules.each do |task_schedule| %>
          <%= task_schedule.schedule.work_started_at.strftime('%m/%d(%a)') %>,
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to '詳細', task ,class: "btn btn-default"%>
        <% if task.user_id == current_user.id %>
          <%= link_to '編集', edit_task_path(task) ,class: "btn btn-default" %>
          <%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="wrap-for-dev col-md-12">
  <h3>完了済みのタスク</h3>
  <% @tasks_done.reverse_each do |task| %>
    <div class="wrap-for-dev col-md-12">
      <div class="col-md-3">
        <h4><%= task.title %></h4>
      </div>
      <div class="col-md-3">
        <%= image_tag task.user.profile_photo_url%>
        <%= task.user.name %>
      </div>
      <div class="col-md-3">
        <% task.task_schedules.each do |task_schedule| %>
          <%= task_schedule.schedule.work_started_at.strftime('%m/%d(%a)') %>,
        <% end %>
      </div>
      <div class="col-md-3">
        <%= link_to '詳細', task ,class: "btn btn-default"%>
        <% if task.user_id == current_user.id %>
          <%= link_to '編集', edit_task_path(task) ,class: "btn btn-default" %>
          <%= link_to '削除', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
