<%= form_with(model: label, local: true, class: "ui form" ) do |form| %>
  <% if label.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(label.errors.count, "error") %> prohibited this label from being saved:</h2>

      <ul>
      <% label.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :company_id, value: current_company.id %>
  </div>

  <div class="field">
    <%= form.label 'ラベル名' %>
    <%= form.text_field :name, id: :label_name %>
  </div>

  <div class="field">
    <%= form.label 'ラベルカラー' %>
    <%= form.color_field :color, id: :label_color %>
  </div>

  <div class="field">
    <%= form.label :counter %>
    <%= form.hidden_field :counter, value: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
