<p id="notice"><%= notice %></p>

<p>
  <strong>ラベル名</strong>
  <%= @label.name %>
</p>

<p>
  <strong>ラベルカラー</strong>
  <div style="background-color:<%= @label.color %>;"><%= @label.color %></div>
</p>

<p>
  <strong>タスクの数</strong>
  <%= @label.counter %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
