<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label "大学" %>
    <%= form.text_field :university, id: :user_university %>
  </div>

  <div class="field">
    <%= form.label "学部" %>
    <%= form.text_area :department, id: :user_department %>
  </div>

  <div class="field">
    <%= form.label "学年" %>
    <%= form.text_area :grade, id: :user_grade %>
  </div>

  <div class="field">
    <%= form.label "性別" %>
    <%= form.select :gender, [["男性", 0], ["女性", 1]], id: :user_gender%>
  </div>

  <% user.companies.each do |company| %>
    <div class="field">
      <%= form.fields_for :company_users do |company_user| %>
        <%= company_user.label 'テーマカラーを選択' %>
        <%= company_user.collection_select :color_id, Color.all, :id, :name ,{ include_blank: true }%>
      <% end %>
    </div>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
