<p id="notice"><%= notice %></p>

<div>
  <h3><%= @schedule.user.name %></h3>
  <h3><%= @schedule.work_started_at %></h3>
  <h3><%= @schedule.work_ended_at %></h3>
</div>

<div>
  <% if @schedule.user_id == current_user.id %>
    <%= link_to '編集', edit_schedule_path(@schedule)%>
  <% end %>
  <%= link_to '戻る', schedules_path%>
</div>
