<p id="notice"><%= notice %></p>

<div class="ui center aligned raised segment" style="z-index:-5;">
  <%= image_tag @company.home_photo_url %>
  <%= image_tag  @company.icon_photo_url %>
  <h1><%= @company.name %></h1>
  <p><%= @company.hp_addr %><p>
</div>
<div class="ui raised segment" style="z-index:-5;">
  <%= render "users", users: @users%>
</div>
<%= link_to '編集', edit_company_path(@company) %>
