<p id="notice"><%= notice %></p>

<div class="col-md-4 col-md-offset-4">
  <h3><%= @todo.body %></h3>
  <h3><%= @todo.link %></h3>
  <h3><%= @todo.status %></h3>
</div>

<div class="col-md-4 col-md-offset-4">
  <% if @todo.user_id == current_user.id %>
    <%= link_to '編集', edit_todo_path(@todo) ,class: "btn btn-default" %>
  <% end %>
  <%= link_to '戻る', todo_path ,class: "btn btn-default" %>
</div>
