<%= form_with(model: goal, local: true) do |form| %>
  <% if goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :company_id, value: current_company.id %>
  </div>

  <div class="field">
    <%= form.label "期間" %>
    <%= form.select :span, [["３ヶ月間の目標", 3], ["１年間の目標", 12]]%>
  </div>

  <div class="field">
    <%= form.label "タイトル" %>
    <%= form.text_field :title, id: :goal_title %>
  </div>

  <div class="field">
    <%= form.label "詳細" %>
    <%= form.text_area :detail, id: :goal_detail %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
