<p id="notice"><%= notice %></p>

<div class="wrap-for-dev col-md-12">
  <h3>３ヶ月目標<h3>
  <table>
    <tbody>
      <% @goals.each do |goal| %>
        <% if goal.span == 3 %>
          <tr>
            <td><%= goal.title %></td>
            <td><%= image_tag goal.user.profile_photo_url, class: "img-responsive"%></td>
            <td><%= goal.user.name %></td>
            <% year = goal.created_at.year %>
            <% mouth = goal.created_at.month + 2 %>
            <% day = goal.created_at.day - 1 %>
            <td><%= "~#{year}年#{mouth}月#{day}日"%></td>
            <td><%= link_to 'Show', goal %></td>
            <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="wrap-for-dev col-md-12">
  <h3>年次目標<h3>
  <table>
    <tbody>
      <% @goals.each do |goal| %>
        <% if goal.span == 12 %>
          <tr>
            <td><%= goal.title %></td>
            <td><%= image_tag goal.user.profile_photo_url, class: "img-responsive"%></td>
            <td><%= goal.user.name %></td>
            <% year = goal.created_at.year + 1 %>
            <% mouth = goal.created_at.month %>
            <% day = goal.created_at.day - 1 %>
            <td><%= "~#{year}年#{mouth}月#{day}日"%></td>
            <td><%= link_to 'Show', goal %></td>
            <td><%= link_to 'Edit', edit_goal_path(goal) %></td>
            <td><%= link_to 'Destroy', goal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Goal', new_goal_path %>
