<%= form_with(model: attendance, local: true) do |form| %>
  <% if attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>

      <ul>
      <% attendance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label "インターン生" %>
    <%= form.collection_select :user_id, current_company.users, :id, :name %>
  </div>

  <div class="field">
    <%= form.label "勤務開始時間" %>
    <%= form.datetime_select :work_started_at, id: :attendance_work_started_at %>
  </div>

  <div class="field">
    <%= form.label "勤務終了時間" %>
    <%= form.datetime_select :work_stopped_at, id: :attendance_work_stopped_at %>
  </div>

  <div class="field">
    <%= form.label "休憩開始時間" %>
    <%= form.datetime_select :break_started_at, id: :attendance_break_started_at %>
  </div>

  <div class="field">
    <%= form.label "休憩終了時間" %>
    <%= form.datetime_select :break_stopped_at, id: :attendance_break_stopped_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
