<p id="notice"><%= notice %></p>

<%= link_to "CSV出力", attendances_path(format: :csv) %>

<table class="ui celled striped table">
  <thead>
    <tr>
      <th>名前</th>
      <th>勤務開始時刻</th>
      <th>勤務終了時刻</th>
      <th>勤務時間</th>
      <th>修正回数</th>
      <% if current_user.employment_status == 0 %>
        <th colspan="1"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.user.name %></td>
        <td><%= attendance.work_started_at.strftime('%m/%d(%a) %-H:%M:%S') %></td>
        <td><%= attendance.work_stopped_at.strftime('%m/%d(%a) %-H:%M:%S') %></td>
        <% minutes = attendance.work_stopped_at.to_time.to_i - attendance.work_started_at.to_time.to_i %>
        <td><%= (Time.parse("1/1") + minutes).strftime("%-H時間%-M分%-S秒") %></td>
        <td><%= attendance.num_of_edit %></td>
        <% if current_user.employment_status == 0 %>
          <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= paginate @attendances %>
</div>
