<p id="notice"><%= notice %></p>

<div>
  <h3><%= @attendance.user.name %></h3>
  <h3><%= @attendance.work_started_at %></h3>
  <h3><%= @attendance.work_stopped_at %></h3>
  <h3><%= @attendance.num_of_edit %></h3>
</div>

<div>
  <% if @attendance.user_id == current_user.id %>
    <%= link_to '編集', edit_attendance_path(@attendance)%>
  <% end %>
  <%= link_to '戻る', attendance_path%>
</div>
