<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendance.user %>
</p>

<p>
  <strong>Work started at:</strong>
  <%= @attendance.work_started_at %>
</p>

<p>
  <strong>Work ended at:</strong>
  <%= @attendance.work_stopped_at %>
</p>

<p>
  <strong>Num of edit:</strong>
  <%= @attendance.num_of_edit %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back', attendances_path %>
