<%= form_with(model: report, local: true, class: "ui form") do |form| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :company_id, value: current_company.id %>
  </div>

  <div class="field">
    <%= form.label "出勤日を選択" %>
    <% @current_user_schedules = current_company.schedules.where(user_id:current_user.id) %>
    <%= form.collection_select :schedule_id, @current_user_schedules, :id, :simple_work_started_at %>
  </div>

  <div class="field">
    <%= form.label "タイトルを入力" %>
    <%= form.text_field :title, id: :report_title %>
  </div>

  <div class="field">
    <%= form.label "詳細を入力" %>
    <%= form.text_area :body, id: :report_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
