<p id="notice"><%= notice %></p>

<div class="col-md-12 text-right">
  <%= link_to '＋日報を追加', new_report_path, class: "btn btn-primary" %>
</div>

<div class="ui three cards stackable">
  <% @reports.reverse_each do |report| %>
  <div class="card">
    <div class="content">
      <%= image_tag report.user.profile_photo_url, class: "right floated mini ui image"%>
      <div class="header">
        <%= report.user.name %>
      </div>
      <div class="meta">
        <%= report.schedule.work_started_at.strftime('%m/%d') %>
      </div>
      <div class="description">
        <h4>"<%= report.title %>"</h4>
        <%= report.body %>
      </div>
    </div>
    <div class="extra content">
      <% if report.user_id == current_user.id %>
	  <div class="ui three buttons center aligned">
		        <%= link_to report ,class: "ui basic green button" do%>詳細<% end%>
		        <%= link_to edit_task_path(report) ,class: "ui basic blue button" do%>編集<% end%>
		        <%= link_to report, method: :delete, data: { confirm: 'Are you sure?' } ,class: "ui basic red button" do%>削除<%end%>
	  </div>
      <% else %>
        <%= link_to report ,class: "fluid ui basic green button" do%>詳細<% end%>
      <% end %>
    </div>
    <div class="extra content">
    	<div>
 <% report.report_stamps.each do |report_stamp| %>
  <%= report_stamp.user.name %>さん
  <%= image_tag report_stamp.stamp.url %>
 <% end %>
</div>
          <div>
            <div class="ui dropdown" style="display:block;display: flow-root;">
              スタンプを押す
              <div class="menu">
                <% @stamps.each do |stamp| %>
                  <%= link_to press_stamp_path(stamp_id:stamp.id,associate_type:"report",associate_id:report.id) do%>
                    <div class="item">
                      <%= image_tag stamp.url %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
    </div>
  </div>
  <% end %>  
</div>



<div class="col-md-12 text-center">
  <%= paginate @reports %>
</div>


