<script type="text/javascript">
		$(document).ready(function(){
			$('.ui.dropdown').dropdown();
		});
</script>


<p id="notice"><%= notice %></p>
<div class="ui grid">
  <div class="four column row">
    <div class="left floated column">
    	<%= link_to new_report_path, class: "ui labeled icon button" do%>
    	<i class="plus icon"></i>日報を追加
    	<% end %>
    </div>
    <div class="right floated column right aligned">
			<div class="ui dropdown right aligned">
			  <div class="text" style="color:#2185D0;text-decoration: underline;">日付別</div>
			  <i class="dropdown icon blue" style="margin:0px;"></i>
			  <div class="menu">
			    <%= link_to("投稿日(昇順)", { sort:"created_at desc" }, class: "item") %>
			    <%= link_to("投稿日(降順)", { sort:"created_at" }, class: "item") %>
			    <%= link_to("出勤日(昇順)", { sort:"schedule_id desc" }, class: "item") %>
			    <%= link_to("出勤日(降順)", { sort:"schedule_id" }, class: "item") %>
			  </div>
			</div>
			/
			<div class="ui dropdown right floated">
			  <div class="text" style="color:#2185D0;text-decoration: underline;">人物別</div>
			  <i class="dropdown icon blue" style="margin:0px;"></i>
			  <div class="menu">
			    <% current_company.users.each do |user| %>
			     <%= link_to(user.name, { user_id: user.id }, class: "item") %>
			    <% end %>
			  </div>
			</div>
	  </div>
	</div>
</div>

<div class="ui four cards stackable" style="margin-left:-1em; margin-right:-1em; margin-top:0px; margin-bottom:0px;">
  <% @reports.each do |report| %>
  <div class="card">
    <div class="content" style="background-image: url('../assets/mima-opa.png');background-position: right bottom; background-repeat: no-repeat;">
      <% if report.user_id == current_user.id %>
      <div class="ui dropdown right floated">
      	<i class="options icon"></i>
      	<div class="menu">
      		    <%= link_to report ,class: "item" do%>詳細<% end%>
      		    <%= link_to edit_report_path(report) ,class: "item" do%>編集<% end%>
      		    <%= link_to report, method: :delete, data: { confirm: '本当に削除しますか？' } ,class: "item" do%>削除<%end%>
      	</div>
      </div>
      <% end %>
      <div class="meta">
        <%= report.schedule.work_started_at.strftime('%m/%d') %>
      </div>
      <div class="header">
				<%= report.title %>
      </div>
      <div class="description">
        <div style="font-size:10px;"><%= report.body %></div>
      </div>
    </div>
    <div class="extra content" style="padding: 1.5em 1em;">
			<div class="circle-image-border" style="width: 40px; height: 40px; left: 1rem; margin-top: -20px; background: linear-gradient(-45deg,<%=current_user.color_1%>,<%=current_user.color_2%>);">
				<span><%= image_tag report.user.profile_photo_url, class:"company-icon-img"%></span>
			</div>
			<div style="padding-left:3.5rem;"><%= report.user.name %></div>
		</div>
    <div class="extra content">
	    <div class="item">
	      <% report.report_stamps.each_with_index do |report_stamp,i| %>
	      	<%if i==0 && report.report_stamps.length==1 %>
	      	  <%= image_tag report_stamp.stamp.url ,class:"ui mini image left floated",style:"width:17px;height:17px;margin-bottom:0px;margin-right:0.5em;"%>
	      	  <div class="left floated" style="font-size:9px;"><%= report_stamp.user.name %></div>
	      	<%elsif i==0%>
	      	  <%= image_tag report_stamp.stamp.url ,class:"ui mini image left floated",style:"width:17px;height:17px;margin-bottom:0px;margin-right:0.5em;"%>
	      	  <div class="left floated" style="font-size:9px;"><%= report_stamp.user.name %>など<%= report.report_stamps.length %>人</div>
	      	<%end%>
		　   <% end %>
	    <div class="ui dropdown right floated" style="display:block;display: flow-root;">
        <div style="font-size:9px">スタンプ送信</div>
          <div class="menu">
            <% stamps.each do |stamp| %>
              <div class="item">
              <%= link_to press_stamp_path(stamp_id:stamp.id,associate_type:"report",associate_id:report.id) do%>
                  <%= image_tag stamp.url %>
              <% end %>
              </div>
            <% end %>
          </div>
        </div>
	    </div>
    </div>
  </div>
  <% end %>
</div>

<%= paginate @reports %>
