<p id="notice"><%= notice %></p>

<div class="col-md-12 text-right">
  <%= link_to '＋日報を追加', new_report_path, class: "btn btn-primary" %>
</div>
<% @reports.reverse_each do |report| %>
  <div class="wrap-for-dev col-md-4">
    <div class="col-md-3">
      <%= image_tag report.user.profile_photo_url, class: "img-responsive"%>
    </div>
    <div class="col-md-5">
      <h4><%= report.user.name %></h4>
    </div>
    <div class="col-md-4">
      <h4><%= report.schedule.work_started_at.strftime('%m/%d') %><h4>
    </div>
    <div class="col-md-12">
      <h4>"<%= report.title %>"</h4>
    </div>
    <div class="col-md-12">
      <%= report.body %>
    </div>
    <div class="col-md-12">
      <td><%= link_to '詳細', report ,class: "btn btn-default"%></td>
      <% if report.user_id == current_user.id %>
        <td><%= link_to '編集', edit_task_path(report) ,class: "btn btn-default" %></td>
        <td><%= link_to '削除', report, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default" %></td>
      <% end %>
    </div>
  </div>
<% end %>

<div class="ui three column grid stackable">
  <% @reports.reverse_each do |report| %>
      <div class="column">
		  <div class="ui fluid card">
		    <div class="content">
		      <%= image_tag report.user.profile_photo_url, class: "right floated mini ui image"%>
		      <div class="header">
		        <%= report.user.name %>
		      </div>
		      <div class="meta">
		        <%= report.schedule.work_started_at.strftime('%m/%d') %>
		      </div>
		      <div class="description">
		        <h4>"<%= report.title %>"</h4>
		        <%= report.body %>
		      </div>
		    </div>
		    <div class="extra content">
		    　<% if report.user_id == current_user.id %>
		      <div class="three ui buttons">
		        <%= link_to report ,class: "ui basic green button" do%>詳細<% end%>
		        <%= link_to edit_task_path(report) ,class: "ui basic blue button" do%>編集<% end%>
		        <%= link_to report, method: :delete, data: { confirm: 'Are you sure?' } ,class: "ui basic red button" do%>削除<%end%>
		      </div>
		      <% else %>
		      <div class="ui buttons">
		        <%= link_to report ,class: "ui basic green button" do%>詳細<% end%>
		      </div>
		      <% end %>
		    </div>
		  </div>
	  </div>
  <% end %>  
</div>

<div class="col-md-12 text-center">
  <%= paginate @reports %>
</div>
