<script type="text/javascript">
	$(window).on('resize', function(){
	  var w = $(window).width()
	  if(w<=768){
	    $('.screen-header').css('display', "none");
	  }
	  else{
	    $('.screen-header').css('display','');
	  }
	});
	$(document).ready(function(){
	  var w = screen.width;
	  if(w<=768){
	    $('.screen-header').css('display', "none");
	  }
	  else{
	    $('.screen-header').css('display','');
	  }
	});

</script>
<div id="main_contents">
<div class="header ui padded grid" id="header">
  <div class="row main-header screen-header">
		<!-- for pc　-->
	  <div class="eight wide column">
			<!-- <%= image_tag "interne.png", class:"interne-img"%> -->
			<div class="ui dropdown companies">
				<div class="title">
					<h3>
						<%= image_tag current_company.icon_photo_url, class:"company-icon-img"%>
						<%= current_company.name.slice(0, 20) %><%= '...' if current_company.name.length > 20%>
						<i class="dropdown icon"></i>
					</h3>
				</div>
				<div class="menu">
					<% current_user.company_users.each do |company_user| %>
						<%= link_to set_current_company_path(company_id:company_user.company.id), class:"item future" do%>
							<%= image_tag company_user.company.icon_photo_url, class:"company-icon-img"%>
							<div class="company-name"><%= company_user.company.name.slice(0, 20) %><%= '...' if current_company.name.length > 20%></div>
						<% end %>
					<% end %>
				</div>
			</div>
	  </div>

	  <div class="right aligned eight wide column">
			<div class="ui dropdown todos">
				<h4><i class="checkmark icon"></i>やることリスト</h4>
				<% if todo_users.length != 0 %>
					<div class="notice-num"><%= todo_users.length%></div>
				<% end %>
				<div class="menu">
					<% todo_users.each do |todo| %>
				    <%= link_to todo_path(todo), class:"item future" do %>
							<%= image_tag "logo-sq3"%>
					    <div class="content">
					      <div class="header"><%= todo.body %></div>
					      <div class="description">
									<i class="clock icon"></i>
						      <% todo_time = Time.now.to_time.to_i - todo.created_at.to_time.to_i %>
						      <%= (Time.parse("1/1") + todo_time).strftime("%-H時間%-M分%-S秒前") %>
					      </div>
					    </div>
				    <% end %>
				  <% end %>
				</div>
		  </div>
			<div class="ui dropdown notices" id="notice-update-ajax">
				<h4><i class="alarm icon"></i>お知らせ</h4>
				<% if notice_count != 0 %>
				 	<div class="notice-num" id="notice-num-for-ajax"><%= notice_count %></div>
				<% end %>
				<div class="menu">
					<% recent_notice_users.each do |notice_user| %>
						<% if notice_user.notice.read == false %>
				    	<%= link_to notice_path(notice_user.notice), class:"item future", style: "background-color: #f0f0f0;" do %>
							<%= image_tag "logo-sq3"%>
					    <div class="content">
					      <div class="header"><%= notice_user.notice.body %></div>
					      <div class="description">
									<i class="clock icon"></i>
						      <% notice_time = Time.now.to_time.to_i - notice_user.notice.created_at.to_time.to_i %>
						      <%= (Time.parse("1/1") + notice_time).strftime("%-H時間%-M分%-S秒前") %>
					      </div>
					    </div>
				    	<% end %>
						<% else %>
							<%= link_to notice_path(notice_user.notice), class:"item future" do %>
							<%= image_tag "logo-sq3"%>
					    <div class="content">
					      <div class="header"><%= notice_user.notice.body %></div>
					      <div class="description">
									<i class="clock icon"></i>
						      <% notice_time = Time.now.to_time.to_i - notice_user.notice.created_at.to_time.to_i %>
						      <%= (Time.parse("1/1") + notice_time).strftime("%-H時間%-M分%-S秒前") %>
					      </div>
					    </div>
				    	<% end %>
						<% end %>
				  <% end %>
				</div>
		  </div>
		  <% if user_signed_in? %>
		  	<div class="ui dropdown user">
					<h4>
						<%= image_tag current_user.profile_photo_url, class:"ui circular image user-image", style:"width: 30px !important; height:30px !important;" %>
						<%= current_user.name %>
					</h4>
					<div class="menu">
						<%= link_to mypage_path, class:"item" do%>
							<%= image_tag current_user.profile_photo_url, class:"ui circular image user-image", style:"width: 40px !important; height:40px !important;"%>
							<div class="content">
					      <div class="header"><%= current_user.name %></div>
					      <div class="description">プロフィール編集</div>
					    </div>
						<% end %>
						<% if current_user.employment_status == true %>
							<%= link_to 'マイページへ', mypage_path, class:"item"%>
						<% end %>
						<%= link_to 'アカウント設定', mypage_path, class:"item"%>
						<%= link_to 'ログアウト', destroy_user_session_path, method: :delete,class:"item"%>
					</div>
			  </div>
	  	<% end %>
	  </div>
  </div>
	<!-- for mobile -->
  <div class="row main-header mobile only" style="padding:0px;margin:0px;">
	  <div class="ui attached menu" style="background:#f1f5f9;">
		  <a class="item sidebar-menu" style="background:white;">
		    <i class="sidebar icon"></i>
		    Menu
		  </a>
		</div>
  </div>
</div>
</div>

<script>
$(function() {
  $('.ui.dropdown').hover(function() {
 		$(this).dropdown('show');
  }, function() {
		$(this).dropdown('hide');
  });
});
</script>
