<script type="text/javascript">
$(window).on('resize', function(){
  var w = $(window).width();
  if(w<=768){
    $('.left-sidebar').css('display', "none");
  }
  else{
    $('.left-sidebar').css('display','');
  }
});
$(document).ready(function(){
  var w = screen.width;
  if(w<=768){
    $('.left-sidebar').css('display', "none");
  }
  else{
    $('.left-sidebar').css('display','');
  }
});
</script>
<div class="left-sidebar" style="width:7rem;height:100%;float:left;">
  <div id="sidebar" class="ui left fixed inverted vertical menu">
    <%= link_to root_path do %>
      <%= image_tag "logo-sq.png", class:"ui image", style:"padding: 19px 2rem;"%>
    <% end %>
      <div class="sidebar-content">
        <% if current_page?(root_path)%>
          <%= link_to root_path,class:"active teal item pjax" do%>
          <i class="block layout icon"></i>
          トップ
          <%end%>
        <%else%>
          <%= link_to root_path,class:"teal item pjax" do%>
          <i class="block layout icon"></i>
          トップ
          <%end%>
        <%end%>
        <% if current_page?(controller: 'reports')%>
          <%= link_to reports_path,class:"active teal item pjax" do%>
          <i class="sticky note icon"></i>
          日報
          <%end%>
        <%else%>
          <%= link_to reports_path,class:"teal item pjax" do%>
          <i class="sticky note icon"></i>
          日報
          <%end%>
        <%end%>
        <% if current_page?(controller: 'tasks')%>
          <%= link_to tasks_path,class:"active teal item pjax" do%>
          <i class="tasks icon"></i>
          タスク
          <%end%>
        <%else%>
          <%= link_to tasks_path,class:"teal item pjax" do%>
          <i class="tasks icon"></i>
          タスク
          <%end%>
        <%end%>
        <% if current_user.employment_status == false %>
          <% if current_page?(controller: 'attendances')%>
            <%= link_to attendances_path,class:"active teal item pjax" do%>
            <i class="tasks icon"></i>
            勤怠管理
            <%end%>
          <%else%>
            <%= link_to attendances_path,class:"teal item pjax" do%>
            <i class="tasks icon"></i>
            勤怠管理
            <%end%>
          <%end%>
          <% if current_page?(controller: 'companies')%>
            <%= link_to companies_path,class:"active teal item pjax" do%>
            <i class="tasks icon"></i>
            会社情報
            <%end%>
          <%else%>
            <%= link_to companies_path,class:"teal item pjax" do%>
            <i class="tasks icon"></i>
            会社情報
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
$('.ui.accordion')
  .accordion()
;
</script>
