<li class="dashboard sidebar-list"><%= link_to "ダッシュボード" , root_path %></li>
<li class="cal sidebar-list"><%= link_to "カレンダー" , schedules_path %></li>
<li class="diary sidebar-list"><%= link_to "日報" , reports_path %></li>
<li class="todo sidebar-list"><%= link_to "タスク" , tasks_path %></li>
<li class="mokuhyo sidebar-list"><%= link_to "目標" , goals_path %></li>
<li class="kintai sidebar-list"><%= link_to "勤怠" , attendances_path %></li>
<li class="member sidebar-list"><%= link_to "メンバー" , users_path %></li>
<li class="sidebar-list"><%= link_to "お知らせ(開発用)" , notices_path %></li>
<li class="sidebar-list"><%= link_to "TODO(開発用)" , todos_path %></li>
<li class="sidebar-list"><%= link_to "会社(開発用)" , companies_path %></li>
