<h3><%= link_to "ダッシュボード" , root_path %></h3>
<h3><%= link_to "カレンダー" , schedules_path %></h3>
<h3><%= link_to "日報" , reports_path %></h3>
<h3><%= link_to "タスク" , tasks_path %></h3>
<h3><%= link_to "目標" , goals_path %></h3>
<h3><%= link_to "勤怠" , attendances_path %></h3>
<h3><%= link_to "メンバー" , users_path %></h3>
<h3><%= link_to "お知らせ(開発用)" , notices_path %></h3>
