<!DOCTYPE html>
<html>
  <head>
    <title>Kintarou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if notice %>
    <script type="text/javascript">
      $(document).ready(function(){
		  $('.messagebox').fadeIn(1000).delay(2000).fadeOut(2000);
		    // メッセージ内の×ボタンクリックでメッセージを非表示にする
		    $('.messagebox .close').on('click', function() {
		        $(this).parents('.messagebox').hide();
		    });
		});
    </script>
    <% end %>
  </head>
  <% if notice %>
      <div class="alert alert-info messagebox">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong><%= notice %></strong>
	　</div>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  <body>
    <div class="ui grid">
      <div class="header sixteen wide column">
        <%= render 'layouts/header' %>
      </div>
      <div class="sidebar three wide column">
        <%= render 'layouts/sidebar' %>
      </div>
      <div class="main-window thirteen wide column">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
