<!DOCTYPE html>
<html style="-webkit-overflow-scrolling: touch;">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
    <title>インテルネ - インターンシップをまるごと管理</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/2.0.1/jquery.pjax.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.js"></script>
    <%= analytics_init if Rails.env.production? %>
    <script type="text/javascript">
	    //pjax init
		$(function(){
		    $(document).pjax("a.pjax",{
			    container:'#row2',
			    fragment:'#row2'
		    });
		});
		//pjax fadein
		$(document).on('pjax:start', function() {
		    //alert('pjaxが開始されたときに発生');
		    $('#row2').css("opacity","0");
		});
		//pjax out
		$(document).on('pjax:end', function() {
			$('#row2').animate({
				opacity : 1
			}, 200);
		});
		//menuのactive処理
		$(function(){
			$('.ui.menu')
			    .on('click', '.item', function() {
			      if(!$(this).hasClass('dropdown')) {
			        $(this)
			          .addClass('active')
			          .siblings('.item')
			            .removeClass('active');
			      }
			 });
		});
		$(document).ready(function(){
			$('.ui.dropdown').dropdown();
			$('.ui.sidebar')
		  .sidebar({
		    context: $('.bottom.attached.pushable')
		  })
		  .sidebar('setting', 'transition', 'overlay')
		  .sidebar('setting', 'mobileTransition', 'overlay')
		  .sidebar('attach events', '.menu .sidebar-menu');
		});
   </script>
    <% if notice %>
    <script type="text/javascript">
    $(document).ready(function(){
		  $('.messagebox').fadeIn(1000).delay(2000).fadeOut(2000);
		    // メッセージ内の×ボタンクリックでメッセージを非表示にする
		    $('.messagebox .close').on('click', function() {
		        $(this).parents('.messagebox').hide();
		  });
		});
    </script>
    <% end %>
  </head>
  <% if notice %>
    <div class="alert alert-info messagebox">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong><%= notice %></strong>
	</div>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body style="background:#ffffff;">
    <% if user_signed_in? %>
      <% unless mypage? %>
        <% if current_company != nil %>
          <%= render 'layouts/sidebar' %>
        	  <div class="main_contents">
          		<%= render 'layouts/header' %>
            	<div class="ui bottom attached pushable no-overflow-x">
  	            <div class="ui inverted left inline vertical sidebar menu" style="">
            	    <%= link_to root_path,class:"item" do%>
                    <i class="block layout icon"></i>
                    ダッシュボード
                  <%end%>
                  <%= link_to reports_path,class:"item" do%>
                    <i class="sticky note icon"></i>
                    日報
                  <%end%>
                  <%= link_to tasks_path,class:"item" do%>
                    <i class="tasks icon"></i>
                    タスク
                  <%end%>
            	  </div>
  	            <div class="pusher no-overflow" style="top:80px">
  	              <div class="ui grid padded stackable">
  			            <div class="row">
  			              <div class="sixteen wide column renzoku">
  			                <div id="row2">
  			                <%= yield %>
  			                </div>
  			              </div>
  			            </div>
  		            </div>
  	            </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="main_contents">
        		<%= render 'layouts/header' %>
          	<div class="ui bottom attached pushable">
	            <div class="ui inverted left inline vertical sidebar menu" style="">
          	    <%= link_to root_path,class:"item" do%>
                  <i class="block layout icon"></i>
                  ダッシュボード
                <%end%>
                <%= link_to reports_path,class:"item" do%>
                  <i class="sticky note icon"></i>
                  日報
                <%end%>
                <%= link_to tasks_path,class:"item" do%>
                  <i class="tasks icon"></i>
                  タスク
                <%end%>
          	  </div>
	            <div class="pusher no-overflow" style="top:80px">
	              <div class="ui grid padded stackable">
			            <div class="row">
			              <div class="sixteen wide column renzoku">
			               <div id="row2">
			                <%= yield %>
			               </div>
			              </div>
			            </div>
		            </div>
	            </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="main_contents">
          <%= render 'layouts/header' %>
        </div>
        <div class="pusher">
          <div class="ui grid padded stackable">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= yield %><!--for login page -->
    <% end %>
  </body>
</html>
