<!DOCTYPE html>
<html style="-webkit-overflow-scrolling: touch; background:#f1f5f9;">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
    <title>Kintarou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://fastcdn.org/FlowType.JS/1.1/flowtype.js"></script>
    <% if notice %>
    <script type="text/javascript">
    $(document).ready(function(){
		  $('.messagebox').fadeIn(1000).delay(2000).fadeOut(2000);
		    // メッセージ内の×ボタンクリックでメッセージを非表示にする
		    $('.messagebox .close').on('click', function() {
		        $(this).parents('.messagebox').hide();
		  });
		});
    </script>
    <% end %>
  </head>
  <% if notice %>
    <div class="alert alert-info messagebox">
	    <button type="button" class="close" data-dismiss="alert">×</button>
	    <strong><%= notice %></strong>
	　</div>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <body style="background:#f1f5f9;">
    <% if user_signed_in? %>
      <% unless mypage? %>
        <% if current_company != nil %>
          <%= render 'layouts/sidebar' %>
        	  <div class="main_contents">
          		<%= render 'layouts/header' %>
            	<div class="ui bottom attached pushable">
  	            <div class="ui inverted left inline vertical sidebar menu" style="">
            	    <%= link_to root_path,class:"item" do%>
                    <i class="block layout icon"></i>
                    ダッシュボード
                  <%end%>
                  <%= link_to schedules_path,class:"item" do%>
                    <i class="calendar icon"></i>
                    カレンダー
                  <%end%>
                  <%= link_to reports_path,class:"item" do%>
                    <i class="sticky note icon"></i>
                    日報
                  <%end%>
                  <%= link_to tasks_path,class:"item" do%>
                    <i class="tasks icon"></i>
                    タスク
                  <%end%>
                  <%= link_to goals_path,class:"item" do%>
                    <i class="flag checkered icon"></i>
                    目標
                  <%end%>
                  <%= link_to attendances_path,class:"item" do%>
                    <i class="building icon"></i>
                    勤怠
                  <%end%>
                  <%= link_to users_path,class:"item" do%>
                    <i class="users icon"></i>
                    メンバー
                  <%end%>
            	  </div>
  	            <div class="pusher">
  	              <div class="ui grid padded stackable">
  			            <div class="row">
  			              <div class="sixteen wide column renzoku">
  			                <%= yield %>
  			              </div>
  			            </div>
  		            </div>
  	            </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="main_contents">
        		<%= render 'layouts/header' %>
          </div>
          <div class="pusher">
            <div class="ui grid padded stackable">
              <div class="row">
                <%= yield %>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="main_contents">
          <%= render 'layouts/header' %>
        </div>
        <div class="pusher">
          <div class="ui grid padded stackable">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <%= yield %><!--for login page -->
    <% end %>
  </body>
</html>
